.popup__form-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100vw - 2.375rem);
    max-width: 50rem;
    /*min-height: 20.625rem;*/
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: #FFFFFF;
}

/*@media screen and (max-width: 620px){*/
/*    .popup__form-container{*/
/*        min-height: 20.125rem;*/
/*    }*/
/*}*/