.contact-info-block{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 8.5rem 2rem auto;
}

.contact-info__name-img{
    margin-right: 0.5rem;
}

.contact-info__phone-img{
    margin-right: 0.5rem;
}

.contact-info__line{
    display: flex;
    align-items: center;
}