.meeting{
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: 0 auto 0;
}

.meeting__title{
    margin-top: 0;
    text-align: center;
    font-size: 2rem;
}

.meeting__columns{
    display: flex;
    flex-direction: row;
}

.meeting__info{
    display: flex;
    flex-direction: column;
    width: min-content;
}

.meeting__info-columns{
    display: flex;
    flex-direction: row;
}

.meeting__more-info{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 1rem;
    text-align: center;
}

.meeting__img{
    max-width: 30rem;
    min-width: 10rem;
    min-height: 10rem;
    margin-right: 5rem;
    border-radius: 10px;
}

.meeting__error{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.contact-info{
    display: flex;
    flex-direction: row;
    max-width: 17rem;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
    border: 1px solid #c2bdff;
    cursor: pointer;
    background-color: #dcd9ff;
    min-height: 2.5rem;
    margin-bottom: 0.7rem;
    transition: background-color 0.2s linear;
}

.contact-info:hover{
    background-color: #c2bdff;
}

.meeting__owner{
    margin-left: 0.6rem;
}

.meeting__columns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.meeting__other-info{
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-height: 100%;
    justify-content: space-between;
    min-width: 50%;
    max-width: 80%;
}

.meeting__info-span{
    font-weight: bold;
}

.meeting__description{
    font-size: 1.2rem;
}

.contact-info__text{
    margin: 0;
}

.contact-info__img{
    max-width: 2.2rem;
    max-height: 2.5rem;
}

.edit-button__image{
    max-width: 2rem;
    max-height: 2rem;
    border: 3.5px solid #000;
    border-radius: 3px;
    margin-left: 2rem;
}

.contact-info-delete{
    background-color: #ff8f8f;
    border: 1px solid #ff5c5c;
}

.delete-button__image{
    margin-right: 0.2rem;
}

.contact-info-delete:hover{
    background-color: #ff5c5c;
}