.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 30%;
    align-items: center;
}

.menu__link{
    text-decoration: none;
    color: #000;
    margin: 0;
    height: min-content;
}

.menu__link_active{
    color: #545454;
    font-weight: bold;
}