.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 35%;
    align-items: center;
}

@media screen and (max-width: 890px) {
    .menu{
        margin-right: 1.3rem;
    }
}

.menu__link{
    text-decoration: none;
    color: #000;
    margin: 0;
    height: min-content;
}

.menu__link_active{
    color: #545454;
    font-weight: bold;
}