.users-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    align-items: center;
}

.user{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #565657;
    justify-content: space-between;
    cursor: pointer;
}

.user:hover{
    background-color: gray;
}

.user__info{
    margin-left: 6rem;
}

.user__info-mail{
    display: flex;
    margin-left: 0;
    margin-right: 6rem;
    justify-self: flex-end;
}

.user__edit-button{
    margin-left: 1rem;
    width: 1rem;
    height: 1rem;
    align-self: center;
    background-image: url('../../images/pencil.png');
    background-position: center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor:pointer;
    border: none;
}

.user-list__title{
    font-size: 1.3rem;
}
