.form{
    display: flex;
    flex-direction: column;
    width: calc(100% - 2.75rem);
    max-width: 22.375rem;
    margin: 1.2rem auto 0;
}

@media screen and (max-width: 620px){
    .form{
        margin-bottom: 1rem;
    }
}